.profile {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 60px auto;
    width: 1000px;
    min-height: 500px;
    background-color: white;
    border-radius: 4px;
    z-index: 0;

    &:before {
      position: absolute;
      content: '';
      top: -100px;
      left: -60px;
      width: 400px;
      height: 400px;
      background-color: $background-second;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 23px;
    padding: 45px 36px;
    width: 600px;
    height: 50%;
    background-color: white;
    border-radius: 4px;
  }

  &__user-image {
    margin-bottom: 32px;
    width: 225px;
    height: 225px;
    border: 10px solid $background-second;
    border-radius: 4px;
  }

  &__username {
    font-size: 20px;
    font-weight: 600;
    color: $base-color;
  }

  &__buttons-group {
    position: absolute;
    top: 60px;
    right: 40px;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__center-group {
    margin-top: 20px;
  }

  &__list {
    margin-bottom: 45px;
  }

  &__list-items {
    font-size: 14px;
    display: flex;
    width: 300px;
    margin-bottom: 14px;
  }

  &__list-item-label {
    width: 100px;
    margin-right: 32px;
    font-weight: 600;
  }

  &__edit-item {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;

    &:hover {
      color: $hover;
    }
  }

  &__button {
    width: 150px;
    z-index: 2;

    &._exit {
      color: red;
    }
  }
}
