.messages {
  &__wrapper {
    margin: 30px 0 0;
    width: calc(100% - 140px);
    min-width: 780px;
    background-color: white;
    height: 100%;
    border-radius: 4px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin: 26px 30px;
  }

  &__main {
    display: flex;
    margin: 0 30px;
  }

  &__users {
    height: calc(100vh - 122px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__user {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 14px 24px 14px 0;
    width: 346px;
  }

  &__user-avatar {
    height: 45px;
    width: 45px;
    background-color: $background-color;
    border-radius: 50%;
  }

  &__user-info {
    margin-left: 14px;
    overflow: hidden;
  }

  &__user-name {
    font-weight: bold;
  }

  &__user-message {
    opacity: 0.8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__message-field {
    width: calc(100% - 370px);
    height: calc(100vh - 122px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
