.error {
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      width: 550px;
      height: 400px;
      top: -80px;
      left: -50px;
      transform: rotate(-21deg);
      background-color: white;
      z-index: -1;
      border-radius: 4px;
    }

    &:after {
      position: absolute;
      top: -70%;
      content: '';
      left: -20%;
      width: 900px;
      height: 900px;
      background-color: $background-third;
      border-radius: 50%;
      z-index: -2;
    }
  }

  &__error {
    margin-bottom: 40px;
    font-size: 96px;
  }

  &__title {
    font-size: 32px;
  }

  &__subtitle {
    font-size: 12px;
  }
}
