.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &._profile {
    height: 100vh;
    background-color: $background-second;
  }
}

.btn {
  width: 180px;
  height: 40px;
  color: white;
  font-weight: 600;
  background-color: $background-second;
  border: 1px solid $hover;
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $background-base;
    filter: none;
  }
}
